

main {
    display: flex;
    flex-direction: row;

}
main img{
width: 35%;

}

main div {

    width: 35%;
}

h1{

    text-align: center;
    background-color:black;
    color:gold

 
}

body{

    background-color: black;

}
