header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header img{
    width:100px;}


    .herramientas{

        display: flex;
       flex-direction: row;
       justify-content: space-evenly;

    }


.herramientas img{

    width: 50px;

}

#cestaBrocha img{


    width: 50px;

}

